Repository coreos/coreos-assembler: changes, and which Tekton pipelines are due for each by the changed paths.
All: coreos-assembler-on-push, kola-tang-on-push, kola-targetcli-on-pull-request

Path conditions:
  coreos-assembler-on-push: not (any of: ./tests/containers/***)
  kola-tang-on-push: (any of: tests/containers/tang/***) or (any of: ci/hermetic/rpms.lock.yaml)
  kola-targetcli-on-pull-request: (any of: ./tests/containers/targetcli/***) or (any of: .tekton/kola-targetcli-pull-request.yaml)

.tekton: disable temporary hermetic builds
  .tekton/coreos-assembler-pull-request.yaml
  .tekton/coreos-assembler-push.yaml
  .tekton/kola-nfs-pull-request.yaml
  .tekton/kola-nfs-push.yaml
  .tekton/kola-tang-pull-request.yaml
  .tekton/kola-tang-push.yaml
  .tekton/kola-targetcli-pull-request.yaml
  .tekton/kola-targetcli-push.yaml
Due: coreos-assembler-on-push, kola-targetcli-on-pull-request

.tekton: switch to own pipeline
  .tekton/coreos-assembler-pull-request.yaml
  .tekton/coreos-assembler-push.yaml
  .tekton/kola-nfs-pull-request.yaml
  .tekton/kola-nfs-push.yaml
  .tekton/kola-tang-pull-request.yaml
  .tekton/kola-tang-push.yaml
  .tekton/kola-targetcli-pull-request.yaml
  .tekton/kola-targetcli-push.yaml
Due: coreos-assembler-on-push, kola-targetcli-on-pull-request

tests/containers: switch to standard base image
  tests/containers/nfs/Containerfile
  tests/containers/tang/Containerfile
  tests/containers/targetcli/Containerfile
Due: coreos-assembler-on-push, kola-tang-on-push

Add GH actions to update lockfiles
  .github/workflows/update-lockfiles.yml
Due: coreos-assembler-on-push

.tekton: enabling hermetic builds
  .gitignore
  .tekton/coreos-assembler-pull-request.yaml
  .tekton/coreos-assembler-push.yaml
  .tekton/kola-nfs-pull-request.yaml
  .tekton/kola-nfs-push.yaml
  .tekton/kola-tang-pull-request.yaml
  .tekton/kola-tang-push.yaml
  .tekton/kola-targetcli-pull-request.yaml
  .tekton/kola-targetcli-push.yaml
  Dockerfile
  build.sh
  ci/hermetic/Dockerfile
  ci/hermetic/README.md
  ci/hermetic/artifacts.lock.yaml
  ci/hermetic/rpms.in.yaml
  ci/hermetic/rpms.lock.yaml
  ci/hermetic/update_artifacts_lockfile
  ci/hermetic/update_package_list
  ci/hermetic/update_rpms_lockfile
  src/kola-container-image-deps.txt
Due: coreos-assembler-on-push, kola-tang-on-push, kola-targetcli-on-pull-request

Add Oracle Cloud Infrastructure images
  cmd/coreos-assembler.go
  pkg/builds/cosa_v1.go
  pkg/builds/schema_doc.go
  src/cmd-buildextend-oraclecloud
  src/cmd-coreos-prune
  src/cmd-generate-release-meta
  src/cmd-osbuild
  src/cosalib/qemuvariants.py
  src/osbuild-manifests/coreos.osbuild.aarch64.mpp.yaml
  src/osbuild-manifests/coreos.osbuild.x86_64.mpp.yaml
  src/osbuild-manifests/platform.oraclecloud.ipp.yaml
  src/v1.json
Due: coreos-assembler-on-push

Konflux build pipeline service account migration for coreos-assembler Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/coreos-assembler-pull-request.yaml
  .tekton/coreos-assembler-push.yaml
Due: coreos-assembler-on-push

Konflux build pipeline service account migration for kola-nfs Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/kola-nfs-pull-request.yaml
  .tekton/kola-nfs-push.yaml
Due: coreos-assembler-on-push

Konflux build pipeline service account migration for kola-tang Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/kola-tang-pull-request.yaml
  .tekton/kola-tang-push.yaml
Due: coreos-assembler-on-push

Konflux build pipeline service account migration for kola-targetcli Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/kola-targetcli-pull-request.yaml
  .tekton/kola-targetcli-push.yaml
Due: coreos-assembler-on-push, kola-targetcli-on-pull-request

WIP: Add `cosa import`
  cmd/coreos-assembler.go
  src/cmd-import
Due: coreos-assembler-on-push

Add `cosa import`
  cmd/coreos-assembler.go
  src/cmd-import
Due: coreos-assembler-on-push

Make ostree-content-checksum optional
  src/v1.json
Due: coreos-assembler-on-push

Update lock files for prefetch-dependencies-oci-ta konflux task
  ci/hermetic/artifacts.lock.yaml
  ci/hermetic/rpms.lock.yaml
Due: coreos-assembler-on-push, kola-tang-on-push

Red Hat Konflux kflux-prd-rh03 update coreos-assembler Signed-off-by: red-hat-konflux-kflux-prd-rh03 <konflux@no-reply.konflux-ci.dev>
  .tekton/coreos-assembler-pull-request.yaml
  .tekton/coreos-assembler-push.yaml
Due: coreos-assembler-on-push

Red Hat Konflux kflux-prd-rh03 update kola-nfs Signed-off-by: red-hat-konflux-kflux-prd-rh03 <konflux@no-reply.konflux-ci.dev>
  .tekton/kola-nfs-pull-request.yaml
  .tekton/kola-nfs-push.yaml
Due: coreos-assembler-on-push

Red Hat Konflux kflux-prd-rh03 update kola-tang Signed-off-by: red-hat-konflux-kflux-prd-rh03 <konflux@no-reply.konflux-ci.dev>
  .tekton/kola-tang-pull-request.yaml
  .tekton/kola-tang-push.yaml
Due: coreos-assembler-on-push

Red Hat Konflux kflux-prd-rh03 update kola-targetcli Signed-off-by: red-hat-konflux-kflux-prd-rh03 <konflux@no-reply.konflux-ci.dev>
  .tekton/kola-targetcli-pull-request.yaml
  .tekton/kola-targetcli-push.yaml
Due: coreos-assembler-on-push, kola-targetcli-on-pull-request

.tekton: switch to dedicated SA
  .tekton/coreos-assembler-pull-request.yaml
  .tekton/coreos-assembler-push.yaml
  .tekton/kola-nfs-pull-request.yaml
  .tekton/kola-nfs-push.yaml
  .tekton/kola-tang-pull-request.yaml
  .tekton/kola-tang-push.yaml
  .tekton/kola-targetcli-pull-request.yaml
  .tekton/kola-targetcli-push.yaml
Due: coreos-assembler-on-push, kola-targetcli-on-pull-request

.tekton: do not prefetch deps
  .tekton/coreos-assembler-pull-request.yaml
  .tekton/coreos-assembler-push.yaml
  .tekton/kola-nfs-pull-request.yaml
  .tekton/kola-nfs-push.yaml
  .tekton/kola-tang-pull-request.yaml
  .tekton/kola-tang-push.yaml
  .tekton/kola-targetcli-pull-request.yaml
  .tekton/kola-targetcli-push.yaml
Due: coreos-assembler-on-push, kola-targetcli-on-pull-request

.tekton: skip checks
  .tekton/coreos-assembler-pull-request.yaml
  .tekton/coreos-assembler-push.yaml
  .tekton/kola-nfs-pull-request.yaml
  .tekton/kola-nfs-push.yaml
  .tekton/kola-tang-pull-request.yaml
  .tekton/kola-tang-push.yaml
  .tekton/kola-targetcli-pull-request.yaml
  .tekton/kola-targetcli-push.yaml
Due: coreos-assembler-on-push, kola-targetcli-on-pull-request

Sync repo templates ⚙
  .gemini/config.yml
Due: coreos-assembler-on-push

rpms.in.yaml: use containerfile in context
  ci/hermetic/rpms.in.yaml
Due: coreos-assembler-on-push

ci/hermetic: move RPM lockfiles to repository root
  ci/hermetic/update_rpms_lockfile
  rpms.in.yaml
  rpms.lock.yaml
Due: coreos-assembler-on-push

Sync repo templates ⚙
  .gemini/config.yaml
Due: coreos-assembler-on-push

kola/tests: Add failing test for FIPS & LUKS
  mantle/kola/tests/fips/failure.go
Due: coreos-assembler-on-push
